In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
columns = ["timestamp", "activity", "heartrate", ]
columns += ["hand-" + str(i) for i in range(17)]
columns += ["chest-" + str(i) for i in range(17)]
columns += ["ankle-" + str(i) for i in range(17)]

In [3]:
# Reading data for subject 101. Subjects range from 101-109
data = pd.read_table('./PAMAP2_Dataset/Protocol/subject101.dat', sep='\s+')
data.columns = columns

print(data.shape)

(376416, 54)

In [4]:
data.head()

,timestamp,activity,heartrate,hand-0,hand-1,hand-2,hand-3,hand-4,hand-5,hand-6,...,ankle-7,ankle-8,ankle-9,ankle-10,ankle-11,ankle-12,ankle-13,ankle-14,ankle-15,ankle-16
0,8.39,0,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,...,-0.006577,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0
1,8.40,0,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,...,0.003014,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0
2,8.41,0,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,...,0.003175,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0
3,8.42,0,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,...,0.012698,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0
4,8.43,0,NaN,30.0,2.29959,8.82929,3.54710,2.26132,8.65762,3.77788,...,-0.006089,-0.016024,0.001050,-60.2954,-38.8778,-58.3977,1.0,0.0,0.0,0.0

In [5]:
# Sensor polling rates are not the same. Interpolating NaN values.
for key, value in data.items():
    if value.isna().any():
        nan_values = value.isna()
        numeric_values = ~nan_values
        data.loc[nan_values, key] = np.interp(np.flatnonzero(nan_values), np.flatnonzero(numeric_values), value[numeric_values])

In [6]:
X = data.iloc[:, 2:].to_numpy()
y = data['activity'].to_numpy()

print(X.shape, y.shape)

(376416, 52) (376416,)

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)

test_accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy: {:.2f}%".format(test_accuracy * 100))

Test Accuracy: 99.90%